<!DOCTYPE html>
<html>
  <head>
    <title>Relief Staff</title>
    <link rel='stylesheet' href='/stylesheets/ad-mark-attendance.css' />
  </head>
  <body>
    <div>
        
        <% if(message != null){ %>
          <div class="container">
              <div id='div-alert' class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" id='btn-alert'>&times;</a>
                <strong><%=message%></strong>
              </div>
          </div>
        <% } %>
        
      <div class="form-attendance">
        <form action="/submit-relief-staff" method="POST">
          <div class="form-table-div">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Father's Name</th>
                  <th>Relief</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].fname%></td>
                    <td><input type="checkbox" name=<%=data[i]._id%>></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <button class="btn btn-success btn-lg">Submit</button>
        </form>
      </div>

    </div>



    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script  src="/javascripts/jquery.js"></script>
    <script  src="/javascripts/ad-mark-attendance.js"></script>
  </body>
</html>
