<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <div>
        <h1 style="color:red"><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>



    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script  src="/javascripts/jquery.js"></script>
    <script  src="/javascripts/common.js"></script>
  </body>
</html>
