<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Seasonal Attendence System</p>


    <script  src="/javascripts/jquery.js"></script>
    <script  src="/javascripts/common.js"></script>
    <script  src="/javascripts/index.js"></script>
    
  </body>
</html>
